In [4]:
import pandas as pd
import numpy as np

In [10]:
#Display the help document
pd.__version__

'1.2.4'

In [13]:
"""
    Pandas Object: Series
"""
# Create a series from an array

ser = pd.Series([0.25,0.5,0.75,1.0]) #constructor method
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]

In [17]:
# Main Attributes: 'values' and 'index'
arr = ser.values
print(arr)

ind = ser.index
print(ind)
print(ind.values)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
[0 1 2 3]

In [21]:
# Label-based Indexing
ser = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(ser)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [22]:
"""
Dicrionary and Series
"""
dict = {'a':1,2:'two','third':True}

In [24]:
"""
Create a series from a dictionary
"""
population_dict = {'California':38332521,
                  'Texas':26448193,
                  'New York':19651127,
                  'Florida':19552860,
                  'Illinois':12882135}

population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [26]:
"""
    Pandas object: DataFrame
"""

area_dict = {'California': 423967, 'Texas':695662, 'New York':141297,
            'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [32]:
# Construct a DataFrame conraining 'population' and 'area' Series

states = pd.DataFrame({'population':population, 'area':area})
print(state)

print(states.index,'\n')
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [37]:
# Construct a DaraFrame from a 2D Numpy array

print(states['area'])

arr= np.random.rand(3,2)
print(arr,'\n')

df = pd.DataFrame(arr,columns=['foo','bar'],index=['a','b','c'])
print(df)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
[[0.65001097 0.03843398]
 [0.71820477 0.37978989]
 [0.26571724 0.23300634]]

        foo       bar
a  0.650011  0.038434
b  0.718205  0.379790
c  0.265717  0.233006

In [48]:
"""
Series object manipulation: dictionary-style
"""

ser = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(ser,'\n')
print('a'in ser)
print(0.25 in ser)  # key는 pandas 객체에서 index를 의미함
                    # pandas 객체에선 key를 찾는 것은 가능
                    # pandas 객체에선 특정 값을 찾는 문법은 존재하지 않음
print(ser['b'])
print(ser[0])
print(ser.keys())
print(ser.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

True
False
0.5
0.25
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
"""
Series object manipulation: array-style
"""
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125

print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [54]:
"""
DaraFrame object manipulation
"""

print(states.area)
states['density'] = states['population'] / states['area']
print(states)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [59]:
# Indexer : Loc, iloc

states.iloc[:3]

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746

In [62]:
# Masking and fancy indexing using the Loc indexer
print(states.loc[states.density > 100,['population','density']],'\n')

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121