In [3]:
"""
Boolean Values
"""

is_tested = True
is_passed = False

print("우진이는 정처기 시험을 응시했는가?",is_tested)

print("우진이는 정처기 시험을 통과했는가?",is_passed)

print(type(is_passed))

우진이는 정처기 시험을 응시했는가? True
우진이는 정처기 시험을 통과했는가? False
<class 'bool'>

In [7]:
a = 3
b = 3.14
c = 'c'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
print("Yes" == 'Yes')
print((2>1) == (5<10))
c ='2'
d = 2
print(c == d)

True
True
False

In [14]:
True or True  # True
True or False # True
False or False # Flase
1 < 2 or 3 < 1 # True
3 < 1 or 1 > 6 # Flase
1 == 1 or 1 < 2 # True

True

In [25]:
"""
Conditional statement (if/elif/else)
"""

puppy = "mts"
age = 1
is_yes = False

if puppy == "mts":
    print("말티즈.")
    is_yes = True
    
    if age < 3:
        print("새끼 말티즈")
elif puppy == "pd":
    print("푸들")
    is_yes = True
elif puppy == "sc":
    print("시츄")
    is_yes = True
else:
    print("아! mtp구나")
    is_yes = True
print(is_yes)

말티즈.
새끼 말티즈
True

In [34]:
"""
Try/Except 문
"""
x = 1
try:
    print(y)
    print(x)
except:
    print('[Error]')
print("contiue")

[Error]
contiue